# Created by .ignore support plugin (hsz.mobi)
### Maven template
target/
.idea/
idea/
task9/.idea/
task9.iml
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
/task9/target/
**/task9/.idea/
**/task9/task9.iml
C:\Users\user\IdeaProjects\task9\task9.iml
C:\Users\user\IdeaProjects\task9\.gitignore
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
